#contact {
    padding: 8rem 5rem;
    background-color: var(--bg-color);
    font-family: var(--main-font);
    color: var(--text-color);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto 5rem 0;
    gap: 2rem;
}

.contact-arrow {
    background-color: var(--primary-color);
    padding: 0.8em 1em;
    border-radius: 0 0 30px 0;
    display: flex;
}

.contact-text span {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.2rem;
}

.contact-text h2 {
    font-size: 3.5rem;
    max-width: 800px;
    margin-top: 0.5rem;
}

.contact-text p {
    color: var(--subtext-color);
    font-size: 1.3rem;
}

.contact-location {
    margin-top: 4rem;
}

.contact-info-wrapper h2 {
    font-size: 3.5rem;
    color: var(--text-color);
    text-align: left;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

.contact-subtitle {
    color: var(--subtext-color);
    margin-bottom: 1.5rem;
    max-width: 500px;
    font-size: 1.3rem;
}

.contact-visuals {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.contact-map iframe {
    width: 100%;
    height: 30vw;
    border: 0;
    border-radius: 0 0 30px 0;
}

.contact-visuals {
    align-items: stretch;
}
.contact-map {
    flex: 1;
}

.contact-info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-map-wrapper {
    flex: 1 1 50%;
    min-width: 300px;
}

.contact-details-wrapper {
    flex: 1 1 40%;
    min-width: 250px;
}

.contact-details {
    padding: 0;
    border-radius: 12px;
}

.contact-details ul {
    list-style: none;
    padding: 0;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-details li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact-details li img {
    width: 28px;
    height: 28px;
}

.contact-details a {
    color: var(--text-color, #333);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.contact-details a:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .contact-visuals {
        flex-direction: column;
    }
    .contact-image-parallax {
        display: none;
    }
}