*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
details,
summary {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg--color);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button,
select {
    font: inherit;
}

button,
img,
video {
    border: 0;
}

html {
    background-color: var(--bg--color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--bg-color);
}

::selection {
    background-color: var(--primary-color);
    color: var(--bg-color);
}
