@media (min-width: 769px) and (max-width: 1024px) {
    .desktop-nav {
        display: flex;
    }

    .about-container__imgs {
        display: none;
    }

    .nav-open-button {
        display: none;
    }
}