body {
    overflow-x: hidden;
}

.transition-text span {
    display: inline-block;
    transform-origin: center bottom;
    will-change: transform, opacity, filter;
}

.transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 9999;
    will-change: transform, opacity, filter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition-text {
    color: var(--bg-color);
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    max-width: 90%;
}

.donation-page-wrapper {
    opacity: 0;
    transform: translateY(40px);
    will-change: transform, opacity, filter;
}

.donation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    border-bottom: 1px solid var(--primary-color);
}

.donation-header a:first-child {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

.btn-back {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 1em 1.5em;
    border-radius: 0 0 30px 0;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
}

.donation-content {
    padding: 4rem 5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.donation-intro {
    text-align: center;
    margin-bottom: 4rem;
}

.donation-intro h1 {
    font-size: 4rem;
    color: var(--text-color);    
    display: inline; 
    vertical-align: middle; 
}

.cursor {
    display: inline-block;
    font-size: 5rem;
    color: var(--text-color);
    animation: blink 0.7s infinite;
    vertical-align: middle;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.donation-intro p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--subtext-color);
    max-width: 1100px;
    margin: 0 auto;
}

.donation-methods {
    display: flex;
    justify-content: center;
    gap: 20rem;
    flex-wrap: wrap;
}

.donation-card {
    background-color: var(--secundary-white);
    padding: 2.5rem;
    border-radius: 0 0 30px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    flex: 1;
    max-width: 500px;
    text-align: left;
}

.donation-card h3 {
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.donation-card p {
    color: var(--subtext-color);
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.donation-methods img {
    width: 100%;
    padding-top: 2em;
}

.pix-info {
    background-color: #e9e9e9;
    padding: 1rem;
    border-radius: 0 0 30px 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
}

.btn-copy {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 1.5em;
    border-radius: 0 0 30px 0;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-copy:hover {
    background-color: #005a4b13;
}

.bank-info {
    list-style: none;
    padding: 0;
}

.bank-info li {
    margin-bottom: 0.8rem;
    color: var(--subtext-color);
    font-size: 1rem;
    text-align: left;

}

.bank-info li strong {
    color: var(--text-color);
}

.footer {
    padding: 4rem 5rem;
}